.listContainer {
  width: 365.85px;
  display: flex;
  justify-content: center;
}

.list {
  width: 280px;
  height: 470px;
  display: flex;
  flex-direction: column;
  margin-left: 10%;

  border-style: solid;
  border-color: #FFFFFF;
  border-width: 2px;
  border-radius: 5px;
}

.listTitle {
  height: 67px;
  display: flex;

  justify-content: center;
  align-items: center;

  font-size: 20px;
  font-family: Inter-Medium;
  color: #FFFFFF;
}

.listPlayers {
  height: 402px;
}

.player {
  display: flex;

  height: 50px;

  margin-bottom: 5px;
}

.playerNo {
  flex: 1;
  display: flex;

  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-family: Inter-Medium;
  color: #FFFFFF;
}

.playerDetails {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: right;
  margin-right: 20px;

  font-size: 14px;
  font-family: Inter-Medium;
  color: #D0D0D0;
}

.playerPoints {
  font-size: 13px;
  font-family: Inter-Regular;

  margin-top: 5px;
}

@media only screen and (max-width: 1200px) {
  .list {
    width: 250px;
    height: 420px;
  }
  .listTitle {
    font-size: 18px;
  }
  .playerNo {
    font-size: 16px;
  }
  .playerDetails {
    font-size: 13px;
  }
  .playerPoints {
    font-size: 11px;
  }
}

@media only screen and (max-width: 1100px) {
  .list {
    width: 22.73vw;
    height: 38.18vw;
  }
  .listTitle {
    font-size: 16px;
  }
  .playerDetails {
    font-size: 11px;
  }
  .playerPoints {
    font-size: 10px;
  }
}

@media only screen and (max-width: 980px) {
  .list {
    height: 375px;
  }
  .playerNo {
    font-size: 14px;
  }
  .playerDetails {
    font-size: 10.5px;
  }
  .playerPoints {
    font-size: 9.5px;
  }
}

@media only screen and (max-width: 850px) {
  .list {
    display: none;
  }
}