.playerModal {
	display: flex;

	margin-bottom: 20px;
}

.playerNoModal {
	display: flex;

	justify-content: center;
	align-items: center;
	margin-right: 15px;

	font-size: 20px;
	font-family: Inter-Medium;
}

.playerDetailsModal {
	font-size: 15px;
	font-family: Inter-Medium;
}

.playerNameModal {

}

.playerPointsModal {
	font-size: 13px;
	font-family: Inter-Regular;
}

.pointsModal {

}