.container {
	height: 100vh;
	background-color: #202020;
}

.main {
  display: flex;
  flex-direction: column;

	height: 100vh;
}

.body {
	height: 470px;
	display: flex;
	flex-direction: row;
}

.padBodyBottom {
	flex: 0;
}

@media only screen and (max-width: 1200px) {
	.body {
		height: 450px;
	}
}

@media only screen and (max-width: 850px) {
	.body {
		flex-direction: column;
	}
}